*,*::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.quote-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.quote-text {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 10px;
}

.buttons{
  display: flex;
}

.btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 4px;
}

.btn:hover {
  background-color: #0056b3;
}

.btn:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.saved-quotes {
  margin-top: 20px;
}

.err{
  color: red;
}

.delBtn{
  background-color: rgb(241, 116, 116);
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 4px;
}

.loader {
  text-align: center;
  width: 50px;
  aspect-ratio: 1;
  --_c:no-repeat radial-gradient(farthest-side,#007bff 92%,#0000);
  background: 
    var(--_c) top,
    var(--_c) left,
    var(--_c) right,
    var(--_c) bottom;
  background-size: 12px 12px;
  animation: l7 1s infinite;
}
@keyframes l7 {to{transform: rotate(.5turn)}}



/* --------------------------------------------------- MOBILE SCREEN -------------------------------- */
@media screen and (max-width: 425px) { 
  .App{
    padding: 1rem;
  }
}

@media screen and (max-width: 310px) { 
  .quote-card {
    width: 80%;
  }

  .quote-text {
    font-size: 14px;
  }
}